@using Hotel_.Databases
@model List<Makers>

@{
    ViewData["Title"] = "About us";
}
<h1>@ViewData["Title"]</h1>

<section id="makers">
    @foreach (Makers maker in Model)
    {
        <a href="makers/@maker.Id">
            <p>@maker.Naam</p>
            <h1>@maker.Naam</h1>

        <p>@maker.Leeftijd</p>
        <p>@maker.Informatie</p>
        </a>
    }
</section>